{% extends 'core/base.html' %}

{% block title %} About | {{ block.super }}{% endblock title %}

{% block content %}

<h1>⭐⭐⭐⭐⭐⭐⭐About US⭐⭐⭐⭐⭐⭐⭐</h1>
<hr>
<p>ABA Bank of India is India's largest bank with a network of over 5 branches and 2 associate banks located even in the remotest parts of India. 
</p>

<p>💠Why do we use it?</p>

<p>They are very well positioned on the liability franchise, they have very cheap CASA deposits, their cost of funds would be much cheaper and they have the best kind of reach. Also, ABA is the largest mortgage lender in India.
</p>
<p>Salient Feature of ABA Current Account:<br/>
   🟢First 50 multicity cheque leaves free<br/>
   🟢Free ATM card during first year<br/>
   🟢Free cash deposit up to Rs. 5,00,000 per month<br/>
   🟢All individuals who have valid KYC documents<br/>
   🟢Identify proof, address proof<br/>
   🟢Compare the Current Account features of ABA with other banks and pick the best bank for yourself.<br/>
   🟢Walk in the nearest ABA branch to open a Current Account and avail quality services.<br/>
</p>


<p>ABA Bank is a leading private sector bank in India. The Bank’s consolidated total assets stood at Rs. 0.6 trillion at January 16, 2022.  ABA Bank currently has a network of 5 branches and 13 ATMs across India.</p>

{% endblock content %}
