{% load static %}
<!DOCTYPE html>

<html>

    <head>
    
        <title> 💳ABA Virtual Card 💳 </title>
        <link rel="stylesheet" href="style.css">
        <script src="script.js"></script> 
        <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'mycss/atm.css' %}">
    </head>
    
    <body>
        <h3>ATM will dispatched Soon😊 to your Address within 4 days of working hours!! </h3>
    
        <marquee>🎊🎊 Congratulations!! You are a platinum card holder of <u>ABA Bank</u>🎊🎊. <br>Never share your card details with anyone. Be safe!! Be happy!! </marquee>
        <div class="a">
           
            
            <p id="platinum">PLATINUM</p>
            
            <p id="name">🏦ABA BANK</p>
            <div id="cvv">
                
                <span id="cvv1">1</span>
                <span id="cvv2">2</span>
                <span id="cvv3">3</span>
            </div>
            
            
            
            <center id="number" >
                <span class="acc" id="acc1">8888</span>
                <span class="acc" id="acc2">8888</span>
                <span class="acc" id="acc3">8888</span>
                <span class="acc" id="acc4">8888</span>
            </center>
            <p style="font-weight: normal;letter-spacing: 2px; font-size: smaller; position: relative; left: 70px;">0657</p>
            <span id ="valid">VALID <br>THRU</span><p id="valid_date" >04/24</p>
            
            
            <span id="visa">VISA</span>
        </div>
        
        <script>
           

            window.confirm("🎁 Features :\n\n1. Created with love by 🏦ABA BANK . \n\n2. Get your ABA BANK virtual debit card.\n\n3. Security :\n\n    Get different cvv and card number             \n    If you faced any problem in our 🏦ABA BANK , feel free to contact us  .\n\n\nIf you 💝 then Give Your Feedback in your contact us page!!,Our team Will be there 😊 to hear any feedback from your side.");


            var user = prompt("Please Enter Your Full Name","ABA BANK");

            document.getElementById("name").innerHTML = user;

            document.getElementById("cvv1").innerHTML = Math.floor((Math.random() * 10));
                    
            document.getElementById("cvv2").innerHTML = Math.floor((Math.random() * 10));

            document.getElementById("cvv3").innerHTML = Math.floor((Math.random() * 10));

            document.getElementById("acc1").innerHTML = Math.floor((Math.random() + 8) * 1000) + " ";

            document.getElementById("acc2").innerHTML = Math.floor((Math.random() + 7) * 1000) + " ";

            document.getElementById("acc3").innerHTML = Math.floor((Math.random() + 3) * 1000) + " ";

            document.getElementById("acc4").innerHTML = Math.floor((Math.random() + 2) * 1000);  

        </script>
        
    </body>
</html>
