<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" media="screen" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">



	<title>Bot Speak</title>

	<!--  -->

	<style>
		.title {
			background-color: #c2454c;
			color: #021119;
			text-align: center;
			padding: 100px;
			-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
			
			
		}
		
		.letsSpeak {
			background-color: #021119;
			color: white;
			padding-top: 50px;
			padding-bottom: 50px;
			padding-left: 100px;
			padding-right: 100px;
		}
		
		.knowledge {
			background-color: #004e64;
			color: white;
			padding-top: 50px;
			padding-bottom: 50px;
			padding-left: 100px;
			padding-right: 100px;
		}
		
		.teach {
			background-color: #16a8c7;
			color: white;
			padding-top: 50px;
			padding-bottom: 50px;
			padding-left: 100px;
			padding-right: 100px;
		}
		
		a {
			color: black;
			
		}
		button {
			background-color: #c2454c;
		}
	</style>

</head>

<body>
	
	<div class="title" id="title">
	<h2>Hi, I'm a chat bot.<br/> Say hi below</h2>
	<a id="icon" href="#letsSpeak"><i class="fa fa-angle-double-down" style="font-size:48px"></i></a>
	</div>

	<div class="letsSpeak" id="letsSpeak">
		<h2>Talk to me!</h2>
		<p>Click this button and say 'Hello There!'</p>
		<button type="button" class="btn btn-danger" id="send" onclick="annyang.start()" value="Reset Form">

			<i class="material-icons">hearing</i></button>


		<div id="clickedChat">
			<div id="output"></div>
		</div>
	</div>

	<div class="knowledge">
		<h2>Chat with me!</h2>

		<input type="text" class="form-control" placeholder="Talk to me..." id="userInput">
		<br/>
		<button type="button" class="btn btn-danger" id="send" onclick="whatSaid()" value="Reset Form">Chat</button>
		<br/>
		<div class="response" id="botRespo"></div>
	</div>



	<div class="teach">
		<h2>Teach me things!</h2>
		<input type="text" class="form-control" placeholder="When you say..." id="helpLearn">
		<input type="text" class="form-control" placeholder="How should I respond?" id="aboutIt">
		<br/>
		<button type="button" class="btn btn-danger" id="send" onclick="teachMe()">Teach me!</button>
		<br/>
		<div id="learnlog"></div>

	</div>


	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/annyang/2.3.0/annyang.min.js"></script>

	<script>
		function init() {
			
			savedValue = localStorage.getItem('facts');

		}



		
		var commands = {
			
			'show me *tag': showFlickr,

			
			'calculate :month stats': calculateStats,

			
			'say hello (to my little) friend': greeting
		};

		var showFlickr = function (tag) {
			var url = 'http://api.flickr.com/services/rest/?tags=' + tag;
			$.getJSON(url);

		}

		var calculateStats = function (month) {
			$('#stats').text('Statistics for ' + month);
		}

		var greeting = function () {
			$('#greeting').text('Hello!');
		}


		if (annyang) {
			
			var commands = {
				'Hello there': function () {
					var content = ' '
					content += '<br/>'
					content += 'Hi, how are you??'
					content += '<br/>'
					content += 'I\'m a young bot called Larry.'
					content += '<br/>'
					content += 'Unfortunately, my ears aren\'t great (yet), so until I learn more this is all I can hear/say.'
					content += '<br/>'
					content += 'But, you can type in the boxes below to chat with me more!';

					console.log(commands);
					document.getElementById('output').innerHTML = content;

				}
			}

		};

		
		annyang.addCommands(commands);


	
	</script>




	<script>
		function gettingJSON() {
			document.write("jquery loaded");
			$.getJSON("http://api.openweathermap.org/data/2.5/weather?q=London&APPID=ee6596241130f193adf1ba90e625cc10", function (json) {
				document.write(JSON.stringify(json));
			});
		}


		$(document).keypress(function (e) {
			if (e.which == 13) {
				whatSaid();

			}
		});


		var now = new Date();

	
		var vocabulary = [
['hi', 'hello'],
['what is your name', 'My name is ABA, Im a young bot'],
['how are you', 'Im great, How are you'],
['where are you', 'KL UNIVERSITY'],
['who created you', 'Achyuta Kumar Mohapatra'],
['what is a bot', 'I\m a bot'],
['what is your favorite movie', 'Harry Potter perhaps?'],
['what day is it', now],
['where am i from', 'Bhubaneswar'],
['i love you', 'Aw, thanks. I love you too!'],
['goodmorning','GoodMorning😍'],
['goodevening','GoodEvening😍'],
['GoodNight','GoodNight, Have a Sweet dreams😘'],
['how to contact','achyutamohapatraofficial@gmail.com'],
['how to create online bank account', '*Choose the type of account you want.*Collect your personal documents and information in advance.*Fill out the application with your personal details.*Fund your new account.'],
['how to apply for loan','Step1: Check the Eligibility Criteria. ...Step 2: Check Interest Rates and Other Charges. ...Step 3: Calculate your EMI. ...Step 4: Check Required Documents. ...Step 5: Fill Application Form Online. ...Step 6: Wait for Loan Approval.'],
['how to apply for atm card','Log in to the internet banking or mobile banking account. Choose “e-services” Then choose “ATM Card services” and click on “Request ATM/Debit Card” Authenticate the request with an OTP sent to the registered mobile number.'],
['services of ABA Bank','Advancements of loans*Cheque payments*Discounting on bills of exchange*Collecting and paying the credit instruments*Guarantee by banks*Consultanc*Credit cards*Funds remittance*Debit cards']


];




		function whatSaid() {




			var input = document.getElementById('userInput');


			var userInput = input.value;

   
			var punctRE = /[\u2000-\u206F\u2E00-\u2E7F\\'!"#$%&()*+,\-.\/:;<=>?@\[\]^_`{|}~]/g;
	
			var spaceRE = /\s+/g;

			var str = userInput;
		
			var saidStripped = str.replace(punctRE, '').replace(spaceRE, ' ');
		
			var input = saidStripped.toLowerCase()



			var notUnderstood = "I'm sorry, I don\'t understand";


			for (var i = 0; i < vocabulary.length; i++) {
				console.log('I am comparing ' + vocabulary[i][0] + ' with ' + input);
				if (vocabulary[i][0] == input) {
					var respo = vocabulary[i][1];
					document.getElementById('botRespo').innerHTML = respo;
					return;
					console.log(vocabulary[i][1]);

				} else {
					document.getElementById('botRespo').innerHTML = notUnderstood;
				}
			}

		}


		function teachMe() {

			var input1 = document.getElementById('helpLearn');
			var input2 = document.getElementById('aboutIt');

			var learn_input = input1.value
			console.log(learn_input);
		

			var punctuateRE = /[\u2000-\u206F\u2E00-\u2E7F\\'!"#$%&()*+,\-.\/:;<=>?@\[\]^_`{|}~]/g;
			var space_RE = /\s+/g;
			var str2 = learn_input;
			var learnStripped = str2.replace(punctuateRE, '').replace(space_RE, ' ');
			var learned = learnStripped.toLowerCase()



			var about_input = input2.value
			console.log(about_input);

			document.getElementById('learnlog').innerHTML = learn_input + ', ' + about_input

			var learnArr = [learnStripped, about_input];
			console.log(learnArr);

			vocabulary.push(learnArr);
			console.log(vocabulary);



			var vocabString = vocabulary.toString();
			console.log(vocabString);
		

			localStorage.setItem('facts', vocabString);


		}

		init();
	</script>

</body>

</html>